<footer>
    <div class="card text-center mt-4">
        <div class="card-header">
            Ringraziamenti
        </div>
        <div class="card-body">
            <h5 class="card-title">RINGRAZIAMENTI SPECIALI A:</h5>
            <p class="card-text">Pino e pippo della PippoPino&Co,</p>
            <p class="card-text">Hotel PierPino di Pineta Marittima,</p>
            <p class="card-text">La Pinolata, Pastificio e Pasticceria di Pina Pierpaoli</p>
            <a href="#" class="btn btn-primary">Vai a letto</a>
        </div>
    </div>
</footer>